@import url("http://fonts.googleapis.com/css?family=Cinzel");
* {
  transition: 1s all;
  font-family: 'Cinzel' serif;
}

html {
  font-size: 16px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkZTZiOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA3ZDBmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #3de6b9), color-stop(100%, #07d0f9));
  background-image: -moz-linear-gradient(top, #3de6b9, #07d0f9);
  background-image: -webkit-linear-gradient(top, #3de6b9, #07d0f9);
  background-image: linear-gradient(to bottom right, #3de6b9, #07d0f9);
  height: 100%;
  /*background: linear-gradient(270deg, #3DE6B9, #07D0F9);*/
  background-size: 180% 180%;
  -webkit-animation: AnimationName 6.4s ease infinite;
  -moz-animation: AnimationName 6.4s ease infinite;
  animation: AnimationName 6.4s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding-top: 0;
  margin-bottom: 10px;
  line-height: 1;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

p {
  color: #fff;
  font-size: 1.3rem;
}

small {
  color: #fff;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wrap {
  margin: 3% auto 0 auto;
  display: inline-block;
}

@keyframes beat {
  to {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
}
.heartbeat {
  animation: beat .25s infinite alternate;
  font-family: sans-serif;
  font-weight: 100;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.heartbeat:after, .heartbeat:before {
  position: absolute;
  content: "";
  background: #fff;
}
.heartbeat:before {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.heartbeat:after {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}

.js .wrap {
  opacity: 0;
  transition: 3s all;
}

.js body.loaded .wrap {
  opacity: 1;
}
